@import "tailwindcss";

/* SATOSHI */

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.otf");
  font-weight: 700;
}

/* INSTRUMENT SERIF */

@font-face {
  font-family: "Instrument";
  src: url("./assets/fonts/InstrumentSerif-Regular.ttf");
}

/* GAMBARINO */

@font-face {
  font-family: "Gambarino";
  src: url("./assets/fonts/Gambarino-Regular.otf");
}

body{
  background:#050505;
  color:white;
  overflow-x:hidden;
  font-family:"Satoshi";
}